.user_avatar {
  width: 150px;
  height: 150px;
  img {
    max-width: 100%;
  }
}
.pagination {
  li {
    display: inline;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}
.active_page {
  font-weight: bold;
}