.header {
  grid-area: header;
  display: flex;
  align-items: center;
  background: linear-gradient(45deg, rgba(93,126,246,1) 0%, rgba(119,73,234,1) 100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .4);
}
.logo {
  display: block;
  max-width: 90px;
  animation: logo-spin 20s linear infinite;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}