.aside {
  grid-area: nav;
  border-top-right-radius: 10px;
  background: linear-gradient(45deg, rgba(119,73,234,1) 0%, rgba(93,126,246,1) 100%);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.nav__item {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  outline: none;
  &.active {
    color: aqua;
  }
}